<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Welcome</title>
	<link rel = "stylesheet" type="text/css" th:href="@{/webjars/boostrap/css/boostrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
	<h1>Users Page</h1>
<a class="h2" th:href="@{/users}">Manage Users</a></h2>
</div>
<div class="container-fluid text-center">
	<h1>Products Page</h1>
	<a class="h2" th:href="@{/products}">Manage Products</a></h2>
</div>
<div class="container-fluid text-center">
	<h1>Manufacturers Page</h1>
	<a class="h2" th:href="@{/manufacturers}">Manage Manufacturers</a></h2>
</div>
</body>
</html>