<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage products</title>
    <link rel = "stylesheet" type="text/css" th:href="@{/webjars/boostrap/css/boostrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>Manage manufacturers</h2></div>
    <div>
        <a class="h3" th:href="@{/manufacturers/new}">Add Manufacturer</a>
    </div>
    <div>
        <table border="1">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Manufacturer Name</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="manufacturer : ${listManufacturers}">
                <tr>
                    <td>[[${manufacturer.id}]]</td>
                    <td>[[${manufacturer.name}]]</td>
                    <td>
                        <a class="h4 mr-3" th:href="@{'/manufacturers/edit/' + ${manufacturer.id}}">Edit</a>
                        <a class="h4" th:href="@{'/manufacturers/delete/' + ${manufacturer.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>
</div>
</body>
</html>